 </div><!-- /.container -->
   <footer class="footer mt-auto fixed-bottom">
       <div class="container">
           <p class="text-muted">&copy YangCamp 2020 | <a href="/campgrounds">Home</a>  </p>
       </div>
   </footer>

   <!-- Custom JS for search feature -->
   <script src="/scripts/search.js" async defer></script>
   </body>
   </html>